/* Reset simples */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    padding-bottom: 50px;
  }
  
  header {
    background-color: #0b1a2a;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .logo {
        height: auto;
        max-height: 80px;
        width: auto;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  section {
    padding: 40px 20px;
    max-width: 900px;
    margin: 0 auto;
    align-items: center;
  }
  
  section h2 {
    color: #0d2b4e;
    margin-bottom: 10px;
  }
  
  ul li {
    margin: 10px 0;
  }
  
  footer {
    background-color: #0d2b4e;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  /* Destaque para seção inicial */
  #inicio {
    background-color: #f2f2f2;
    max-width: 100%;
    width: 90%;
    height: auto;
    text-align: center;
    padding: 30px 20px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }
  
  #inicio h1 {
    color: #0d2b4e;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  #inicio p {
    font-size: 1.2rem;
    color: #333;
  }
  
  /* Estilo para contatos */
  #contato p {
    margin: 8px 0;
  }
  
  @media (max-width: 600px) {
    nav ul {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .logo {
      margin-bottom: 10px;
    }
  }
  